* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-family: sans-serif;
  font-size: 1.1rem;
}

::-moz-placeholder {
  font-family: sans-serif;
  font-size: 1.1rem;
}

:-ms-input-placeholder {
  font-family: sans-serif;
  font-size: 1.1rem;
}

::-ms-input-placeholder {
  font-family: sans-serif;
  font-size: 1.1rem;
}

::placeholder {
  font-family: sans-serif;
  font-size: 1.1rem;
}

.header {
  width: 100%;
  height: 100vh;
  max-height: 960px;
  background: no-repeat center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header-top-container, .header-content-container {
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)));
  background: linear-gradient(rgba(0, 0, 0, 0.3));
}
.header-top-container {
  padding: 1.2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top-container a, .header-top-container li {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.header-content {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.header-content-container {
  height: 865.62px;
  padding: 6rem 1.2rem;
}
.header-content-container h1, .header-content-container h2 {
  margin-bottom: 0.5rem;
}
.header-content-container h1, .header-content-container h2, .header-content-container a {
  text-transform: uppercase;
  line-height: 4rem;
}
.header-content-container h1, .header-content-container p, .header-content-container a {
  color: white;
}
.header-content-container a {
  font-weight: bold;
}
.header-content-container__title {
  word-spacing: 0.5rem;
  font-size: 2.8rem;
}
.header-content-container__subtitle {
  color: #44C9FF;
  word-spacing: 0.4rem;
  font-size: 1.8rem;
}
.header_first-picture {
  background-image: url("../img/bg1.svg");
}
.header_second-picture {
  background-image: url("../img/bg2.png");
}
.header_third-picture {
  background-image: url("../img/bg3.jpg");
}

.burger-menu {
  display: none;
}
.burger-menu-button {
  font-size: 1.8rem;
  color: white;
}

.layout {
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.6));
  z-index: 60;
  width: 100vw;
  height: 100vh;
  display: none;
  cursor: pointer;
}
.layout_visible {
  display: block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu-element:not(:last-child) {
  margin-right: 1.5rem;
}
.menu-element__link:hover {
  color: #44C9FF;
}

.contact-us {
  font-size: 1.1rem;
  border: 1px solid white;
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
}
.contact-us:hover {
  border: 1px solid #06B25F;
  color: #06B25F;
}

.contact-us,
.menu-element__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  margin-top: 1.5rem;
}
.links__more, .links__contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.4rem;
  height: 100%;
  padding: 0.5rem 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.links__more {
  border: 1px solid white;
  margin-right: 2.5rem;
}
.links__more:hover {
  border: 1px solid #44C9FF;
  color: #44C9FF;
}
.links__contact-us {
  background-color: #06B25F;
}
.links__contact-us:hover {
  background-color: rgba(6, 178, 95, 0.8);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
}
.buttons .switcher {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 3px solid white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.buttons .switcher:not(:last-child) {
  margin-right: 2rem;
}
.buttons .switcher_active {
  background-color: white;
  pointer-events: none;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 45%;
  right: -25px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.social-media-element {
  padding: 0.8rem;
  background-color: white;
}
.social-media-element:not(:first-child) {
  border-top: 1px solid silver;
}
.social-media-element:first-child {
  border-radius: 0.3rem 0.3rem 0 0;
}
.social-media-element:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}
.social-media-element:hover .social-media-link__img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.social-media-link {
  display: block;
  width: 25px;
  height: 25px;
}
.social-media-link__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.scroll-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  z-index: 50;
  bottom: 25px;
  width: 100%;
  padding: 0 1.2rem;
  max-width: 1800px;
  height: 100%;
  height: 4rem;
}

.scroll-button {
  padding: 1rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.scroll-button:hover, .scroll-button_up {
  background-color: #06B25F;
  color: white;
}
.scroll-button_up {
  margin-right: 1.5rem;
}
.scroll-button_down {
  border: 1px solid #06B25F;
  background-color: white;
  color: #06B25F;
}

.main-content-container {
  max-width: 1600px;
  padding: 0 1.2rem;
  margin: 0 auto;
}
.main-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.5rem;
}
.main-content-block-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content-block-elem:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.main-content-block__title {
  font-size: 2.3rem;
  color: #194484;
  margin-bottom: 2rem;
}
.main-content-block__text, .main-content-block .third {
  font-size: 1.5rem;
}
.main-content-block__text .first, .main-content-block__text .second, .main-content-block .third .first, .main-content-block .third .second {
  font-weight: bold;
}
.main-content-block__text .first, .main-content-block .third .first {
  color: #84B5FF;
  margin-right: 0.5rem;
}
.main-content-block__text .second, .main-content-block .third .second {
  color: #194484;
}
.main-content-block_top, .main-content-block_automated, .main-content-block_achievements, .main-content-block_partners, .main-content-block_contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content-block_top {
  margin-top: 3rem;
}
.main-content-block_automated, .main-content-block_contacts {
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 4.5rem;
}
.main-content-block_automated {
  margin-bottom: 4.5rem;
}
.main-content-block_partners {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 1415px;
  background-image: url("../img/Vector 8.png");
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-content-block_contacts .main-content-block__text {
  width: 100%;
  text-align: center;
}
.main-content-block_contacts .main-content-block__text_bold {
  font-weight: bold;
  font-size: 1.6rem;
}
.main-content-block_contacts .main-content-block__text_light {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}
.platforms-link {
  padding: 0.5rem;
  width: 60px;
  height: 60px;
  font-size: 2.5rem;
  border-radius: 0.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.platforms-link:not(:last-child) {
  margin-right: 1.5rem;
}
.platforms-link_android {
  background-color: #06B25F;
}
.platforms-link_apple {
  background-color: #276ED8;
}
.platforms-link_unity {
  background-color: #84B5FF;
}

.company-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 140px;
  border: 1px solid silver;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 0.6rem 1.5rem;
}
.company-box-logo {
  width: 135px;
  height: 70px;
}
.company-box-logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.company-box__link {
  padding: 0.7rem;
  color: white;
  text-transform: uppercase;
  background-color: #06B25F;
  font-weight: bold;
  border-radius: 0.4rem;
}
.company-box .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-box .rating__text_bold {
  font-weight: bold;
}
.company-box .rating .stars {
  margin: 0 0.65rem;
}

.first-part, .second-part {
  width: 50%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-part__title {
  color: #0D6EB7;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.first-part__text {
  line-height: 1.6rem;
}

.second-part__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cooperation-block {
  background-image: url("../img/Vector 5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw;
  max-width: 1920px;
  margin: 0 auto;
}
.cooperation-block .cooperation-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 635px;
  max-width: 1600px;
  margin: 0 auto;
}
.cooperation-block__title, .cooperation-block span {
  color: white;
  margin-bottom: 2rem;
}
.cooperation-block__title, .cooperation-block span, .cooperation-block__link {
  text-align: center;
}
.cooperation-block__title {
  font-size: 2.7rem;
}
.cooperation-block span {
  font-size: 1.5rem;
}
.cooperation-block__link {
  color: #06B25F;
  background-color: white;
  border: 1px solid #06B25F;
  padding: 0.6rem 1.5rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: bold;
}
.cooperation-block__link:hover {
  background-color: #06B25F;
  color: white;
}

.achievements, .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners {
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner-block {
  width: calc((100% - 6rem) / 4);
  min-width: 320px;
  min-height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid silver;
  border-radius: 0.7rem;
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  background-color: white;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 4rem;
}
.contacts-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.contacts-details__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}
.contacts-details__element:not(:last-child) {
  margin-bottom: 1.5rem;
}
.contacts-details__element::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.6rem;
}
.contacts-details__element_first::before {
  content: url("../img/icon6.png");
}
.contacts-details__element_second::before {
  content: url("../img/icon2.png");
}
.contacts-details__element_third::before {
  content: url("../img/icon.png");
}
.contacts-details__element_fourth::before {
  content: url("../img/icon3.png");
}
.contacts-details__element_fifth::before {
  content: url("../img/icon4.png");
}
.contacts-details__element_sixth::before {
  content: url("../img/icon5.png");
}
.contacts-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.contacts-form .fieldset-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  border: 1px solid silver;
  border-radius: 1rem;
}
.contacts-form .fieldset-block input, .contacts-form .fieldset-block textarea, .contacts-form .fieldset-block button {
  width: 80%;
  border-radius: 0.4rem;
  outline: none;
}
.contacts-form .fieldset-block input, .contacts-form .fieldset-block textarea {
  border: 1px solid silver;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: grey;
}
.contacts-form .fieldset-block input {
  height: 2.5rem;
}
.contacts-form .fieldset-block textarea {
  height: 10rem;
  resize: none;
}
.contacts-form .fieldset-block button {
  padding: 1rem;
  background-color: #06B25F;
  color: white;
  font-size: 1.3rem;
}

.footer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw;
  background-image: url("../img/Vector 7.png");
}
.footer-container {
  max-width: 1600px;
  height: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6rem;
}
.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-list_icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.footer-element__link {
  color: white;
}
.footer-element__link_icon {
  font-size: 2rem;
}
.footer-element:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer-element_icon {
  width: 33.3333333333%;
  padding: 0.5rem;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-bottom span {
  color: white;
  font-size: 1.1rem;
}

.elements__link {
  color: white;
  font-size: 1.1rem;
}

@media (max-width: 1100px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 980px) {
  .burger-menu {
    display: block;
  }
  .header-top-container {
    position: relative;
  }
  .header-top-container a {
    color: #44C9FF;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
    background: white;
    width: 25%;
    height: 100vh;
    z-index: 100;
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-element:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  .menu_visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .contact-us {
    display: none;
  }
}
@media (max-width: 600px) {
  .burger-menu {
    display: block;
  }
  .header {
    background-position: top;
  }
  .header-content-container {
    padding-top: 0;
  }
  .header-content-container__subtitle {
    color: white;
    text-align: center;
    word-spacing: 0.2rem;
  }
  .header_first-picture {
    background-image: url("../img/lowbg1.png");
  }
  .header_second-picture {
    background-image: url("../img/lowbg2.png");
  }
  .header_third-picture {
    background-image: url("../img/lowbg3.png");
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
  }
  .content-block {
    width: 100%;
  }
  .links, .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-us, .social-media, .header-content-container__title, .scroll-buttons {
    display: none;
  }
}
@media (max-width: 320px) {
  body {
    min-width: 320px;
  }
}/*# sourceMappingURL=main.css.map */